/* *{
    box-sizing: border-box;
} */

html{
    height: 100%;
    position: relative;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/z/sakura-cherry-tree-background-illustration-beautiful-landscape-36004634.jpg");
    margin: 0 auto;
}
 .container{
    width: 960px;
}

header{
    background-color: white;
    width: 960px;
    background-color: white;
    border-bottom: solid 2px pink;
    height: 67px;
    margin: 0 auto;

}
a {
    text-decoration: none;
    color: sienna;
    margin-left: 20px;
    font-size: 1;
}
.text{
    padding-top: 70px;
    font-weight: bold;
}
   

.headerDiv{
    width: 100%;
}
#h1{
    background-color:sienna;
    color: white;
    margin: 0;
    padding: 15px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px;
}

h2{
    margin: 0;
    color: brown;
    border-bottom:  1px solid gray;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

