
html{
    height: 100%;
    position: relative;
}
/*  */
body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url("../Images/Cherry-blossom.jpg");  */
    margin: 0 auto;
    background-image: url("/bootstrap-portfolio/assets/Images/Sakura-giphy.gif");
    background-size: cover;
}
 .container{
    width: 980px;
}

 .headerDiv{
    text-align: center;
 }

a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 30px;
    text-shadow: 1px 1px 5px #333;
    transition: color .5s;
}
a:hover {
    color: sienna;
}

.text{
    font-weight: bold;
    font-family: 'Marck Script', cursive;
    font-size: 18px;
    padding-top: 70px;
    margin-top: -30px;
}

#h1{
    background-color:sienna;
    color: white;
    margin: auto;
    padding: 15px 20px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px;
}

h2{
    margin: auto;
    color: white;
    text-shadow: 1px 1px 5px #333;
}
h3{
    margin: auto;
    margin-left: -80px;
    color: white;
    text-shadow: 1px 1px 5px #333;
}
h4{
    margin: auto;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 5px #333;
}
p{
    text-indent: 10px;
}

.card{
    width: 500px;
}
.form{
    margin-top: 50px;
}

.btnColor{
    font-size: 25px;
    font-weight: bold;
}

.btn-danger {
    color: #fff;
    background-color: sienna;
    border-color: sienna;
}

.btn-danger:hover {
    color: #fff;
    background-color: #b03254;
    border-color: #b03254;
}
    
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: white;
    text-shadow: 1px 1px 5px #333;
}
.infoContainer{
    color: white;
    text-shadow: 1px 1px 5px #333;
}